<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FWImageFileName</key>
	<string>FWImage.bin</string>
	<key>FWImageVersionMajor</key>
	<integer>0</integer>
	<key>FWImageVersionMinor</key>
	<integer>4</integer>
	<key>FWImageVersionRevision</key>
	<integer>0</integer>
</dict>
</plist>
