<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeasurementTypeAccAverageCurrent</key>
	<dict>
		<key>Name</key>
		<string>Accessory Power Current (pin 13)</string>
		<key>Units</key>
		<string>mA</string>
		<key>ShouldDisplayMinValue</key>
		<true/>
		<key>ShouldDisplayAvgValue</key>
		<true/>
		<key>ShouldDisplayMaxValue</key>
		<true/>
		<key>BackgroundColorRedComponent</key>
		<integer>1</integer>
		<key>BackgroundColorGreenComponent</key>
		<real>0.8039215686</real>
		<key>BackgroundColorBlueComponent</key>
		<real>0.9215680000000001</real>
		<key>TheoreticalMinValue</key>
		<string>0</string>
		<key>TheoreticalMaxValue</key>
		<string>5</string>
	</dict>
	<key>MeasurementTypeAccDetectLogicLevel</key>
	<dict>
		<key>Name</key>
		<string>Accessory Detect Logic (pin 20)</string>
		<key>IsBoolean</key>
		<true/>
		<key>ShouldDisplayMinValue</key>
		<false/>
		<key>ShouldDisplayAvgValue</key>
		<false/>
		<key>ShouldDisplayMaxValue</key>
		<false/>
		<key>BackgroundColorRedComponent</key>
		<real>0.313725</real>
		<key>BackgroundColorGreenComponent</key>
		<real>0.785313</real>
		<key>BackgroundColorBlueComponent</key>
		<real>0.470588785313</real>
		<key>TheoreticalMinValue</key>
		<integer>0</integer>
		<key>TheoreticalMaxValue</key>
		<integer>1</integer>
	</dict>
	<key>MeasurementTypeAccPeakCurrent</key>
	<dict>
		<key>Name</key>
		<string>Accessory Peak Current</string>
		<key>Units</key>
		<string>mA</string>
		<key>ShouldDisplayMinValue</key>
		<true/>
		<key>ShouldDisplayAvgValue</key>
		<true/>
		<key>ShouldDisplayMaxValue</key>
		<true/>
		<key>BackgroundColorRedComponent</key>
		<real>0.859</real>
		<key>BackgroundColorGreenComponent</key>
		<real>0.439</real>
		<key>BackgroundColorBlueComponent</key>
		<real>0.839</real>
		<key>TheoreticalMinValue</key>
		<string>0</string>
		<key>TheoreticalMaxValue</key>
		<string>5</string>
	</dict>
	<key>MeasurementTypeAccPowerLogicLevelAtiPod</key>
	<dict>
		<key>Name</key>
		<string>Accessory Power Logic (pin 13)</string>
		<key>IsBoolean</key>
		<true/>
		<key>ShouldDisplayMinValue</key>
		<false/>
		<key>ShouldDisplayAvgValue</key>
		<false/>
		<key>ShouldDisplayMaxValue</key>
		<false/>
		<key>BackgroundColorRedComponent</key>
		<integer>0</integer>
		<key>BackgroundColorGreenComponent</key>
		<integer>1</integer>
		<key>BackgroundColorBlueComponent</key>
		<integer>1</integer>
		<key>TheoreticalMinValue</key>
		<integer>0</integer>
		<key>TheoreticalMaxValue</key>
		<integer>1</integer>
	</dict>
	<key>MeasurementTypeAccUSBDMinusVoltage</key>
	<dict>
		<key>Name</key>
		<string>USB D- Voltage (pin 6)</string>
		<key>Units</key>
		<string>V</string>
		<key>ShouldDisplayMinValue</key>
		<true/>
		<key>ShouldDisplayAvgValue</key>
		<true/>
		<key>ShouldDisplayMaxValue</key>
		<true/>
		<key>BackgroundColorRedComponent</key>
		<integer>1</integer>
		<key>BackgroundColorGreenComponent</key>
		<real>0.6</real>
		<key>BackgroundColorBlueComponent</key>
		<real>0.4</real>
		<key>TheoreticalMinValue</key>
		<integer>0</integer>
		<key>TheoreticalMaxValue</key>
		<real>3.3</real>
	</dict>
	<key>MeasurementTypeAccUSBDPlusVoltage</key>
	<dict>
		<key>Name</key>
		<string>USB D+ Voltage (pin 4)</string>
		<key>Units</key>
		<string>V</string>
		<key>ShouldDisplayMinValue</key>
		<true/>
		<key>ShouldDisplayAvgValue</key>
		<true/>
		<key>ShouldDisplayMaxValue</key>
		<true/>
		<key>BackgroundColorRedComponent</key>
		<integer>1</integer>
		<key>BackgroundColorGreenComponent</key>
		<real>0.6</real>
		<key>BackgroundColorBlueComponent</key>
		<integer>0</integer>
		<key>TheoreticalMinValue</key>
		<integer>0</integer>
		<key>TheoreticalMaxValue</key>
		<real>3.3</real>
	</dict>
	<key>MeasurementTypeAccUSBVbusVoltage</key>
	<dict>
		<key>Name</key>
		<string>USB VBUS Voltage (pin 8)</string>
		<key>Units</key>
		<string>V</string>
		<key>ShouldDisplayMinValue</key>
		<true/>
		<key>ShouldDisplayAvgValue</key>
		<true/>
		<key>ShouldDisplayMaxValue</key>
		<true/>
		<key>BackgroundColorRedComponent</key>
		<integer>1</integer>
		<key>BackgroundColorGreenComponent</key>
		<real>0.4</real>
		<key>BackgroundColorBlueComponent</key>
		<integer>0</integer>
		<key>TheoreticalMinValue</key>
		<integer>0</integer>
		<key>TheoreticalMaxValue</key>
		<integer>5</integer>
	</dict>
	<key>MeasurementTypeResistorID</key>
	<dict>
		<key>Name</key>
		<string>ID Resistor (pin 10)</string>
		<key>Units</key>
		<string>kΩ</string>
		<key>ShouldDisplayMinValue</key>
		<true/>
		<key>ShouldDisplayAvgValue</key>
		<true/>
		<key>ShouldDisplayMaxValue</key>
		<true/>
		<key>BackgroundColorRedComponent</key>
		<real>0.4</real>
		<key>BackgroundColorBlueComponent</key>
		<integer>1</integer>
		<key>BackgroundColorGreenComponent</key>
		<real>0.4</real>
		<key>TheoreticalMinValue</key>
		<string>0</string>
		<key>TheoreticalMaxValue</key>
		<string>1000</string>
		<key>AbsoluteMaxValue</key>
		<string>1200</string>
	</dict>
	<key>MeasurementTypeiPodDetectLogicLevel</key>
	<dict>
		<key>Name</key>
		<string>iPod Detect Logic (pin 30)</string>
		<key>IsBoolean</key>
		<true/>
		<key>ShouldDisplayMinValue</key>
		<false/>
		<key>ShouldDisplayAvgValue</key>
		<false/>
		<key>ShouldDisplayMaxValue</key>
		<false/>
		<key>BackgroundColorRedComponent</key>
		<integer>0</integer>
		<key>BackgroundColorGreenComponent</key>
		<integer>1</integer>
		<key>BackgroundColorBlueComponent</key>
		<integer>0</integer>
		<key>TheoreticalMinValue</key>
		<integer>0</integer>
		<key>TheoreticalMaxValue</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
